spring:
  application:
    name: credit-processing
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8082