spring:
  application:
    name: credit-processing
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  flyway:
    enabled: true
    baseline-on-migrate: true
  kafka:
      bootstrap-servers: localhost:9092
      consumer:
        group-id: credit-service-group
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
        properties:
          spring.json.trusted.packages: "com.sorokin.credit_processing.DTO"
          spring.json.use.type.headers: false

server:
  port: 8082